<a href="https://colab.research.google.com/github/JungHunShin/Oracle-training/blob/main/SQL_training_1025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
--[문항1]  ※ Open book, open note
--※ 대면/비대면 응시자는 카페 내 ‘평가답안제출’ 게시판에 sql code 업로드
--※ sql code안에 본인의 성명을 기입
--※ sql 파일명에 본인의 영문이니셜을 추가

--■ PL/SQL을 이용하여 아래 문제를 SQL code로 작성하여 제출하시오.

--1. 다음의 메시지를 출력하시오.
--(배점: 10점, 난이도: 2)
--SQL 응용
--(본인이름)
SET SERVEROUTPUT ON;
BEGIN
DBMS_OUTPUT.PUT_LINE('신정훈');
END;
/
--[문항2]  2. PL/SQL의 SELECT문으로 EMP데이블에서 TURNER의 사원번호, 이름, 부서번호를 조회하시오. (배점: 20점, 난이도: 3)
SET SERVEROUTPUT ON;
DECLARE
    sonno emp.empno%TYPE;
    sonname emp.ename%TYPE;
    sondeptno emp.deptno%TYPE;
BEGIN
    SELECT empno, ename, deptno into sonno, sonname, sondeptno
    FROM emp
    WHERE ename = 'TURNER';
    DBMS_OUTPUT.PUT_LINE(' 사번 이름 부서번호');
    DBMS_OUTPUT.PUT_LINE('---------------');
    DBMS_OUTPUT.PUT_LINE(''|| sonno ||' '|| sonname||' '||sondeptno);
END;
/
--[문항3]  3. PL/SQL의 다중 if..then..elsif..else문을 이용하여 TURNER의 사원번호, 이름, 부서번호, 부서명을 조회하시오. (배점: 20점, 난이도: 3)
SET SERVEROUTPUT ON;
DECLARE
    sonemp emp%rowtype;
    sondname VARCHAR2(12);
BEGIN
    SELECT * INTO sonemp
    FROM emp
    where ename='TURNER';
    IF (sonemp.deptno = 10) THEN
        sondname := 'accounting';
    ELSIF (sonemp.deptno = 20) THEN
        sondname := 'research';
    ELSE
        sondname := 'sales';
    END IF;
    DBMS_OUTPUT.PUT_LINE(' 사번 이름 부서번호 부서명');
    DBMS_OUTPUT.PUT_LINE('---------------------------');
    DBMS_OUTPUT.PUT_LINE(''||sonemp.empno||' '||sonemp.ename||' '||sonemp.deptno||' '||sondname);
END;
/
--[문항4]  4. PL/SQL의 WHILE문을 사용하여 1부터 200까지 합을 구하는 PL/SQL 문을 coding하시오. (배점: 50점, 난이도: 4
SET SERVEROUTPUT ON;
DECLARE
    num NUMBER := 1;
    numsum NUMBER := 0;
BEGIN
    WHILE (num <= 200) LOOP
        numsum := numsum + num;
        num := num + 1;
    END LOOP;
    DBMS_OUTPUT.PUT_LINE(numsum);
END;
/